$theme-color:#00ACC1; //Cyan-600
$theme-color-nav-dark: #26C6DA; //Cyan-400
$theme-color-nav-light: #00E5FF; //Cyan-A400

$primary: $theme-color;

$link-decoration: none;
$link-hover-decoration: underline;

$body-bg: #343a40;
$body-color: #E0E0E0; //Gray-300
$border-color: #6c757d;

$card-color: #EEEEEE; //Gray-200
$card-bg: #212529;
$card-border-color: #6c757d;

$text-color: #e7e7e7; 

$figure-caption-color: #EEEEEE; //Gray-200

$toast-color: black;


.navbar-brand {
  font-family: 'Monoton', cursive;
  font-size: 30px !important;
  color: $theme-color-nav-dark !important;
}

.navbar-brand:hover{
  color: $theme-color-nav-light !important;
}

#navProfile {
  color: $theme-color-nav-dark !important;
}

#navProfile:hover{
  color: $theme-color-nav-light!important;
}

.label {
  font-weight: 700;
}

.long-text {
  color: $text-color;
}
@import "../node_modules/bootstrap/scss/bootstrap";

//blue #03A9F4
