$theme-color:#00BCD4;
$theme-color-logo: #00E5FF;

$primary: $theme-color;

$link-decoration: none;
$link-hover-decoration: underline;

$body-bg: #343a40;
$body-color: #dee2e6;
$border-color: #6c757d;

$card-color: #dee2e6;
$card-bg: #212529;
$card-border-color: #6c757d;

$figure-caption-color: #dee2e6;

.navbar-brand {
  font-family: 'Monoton', cursive;
  font-size: 30px !important;
  color: $theme-color-logo !important;
}

.navbar-brand:hover{
  color: rgba($theme-color-logo, .75)!important;
}

#navProfile {
  color: $theme-color !important;
}

#navProfile:hover{
  color: rgba($theme-color, .8)!important;
}

.label {
  font-weight: 700;
}
@import "../node_modules/bootstrap/scss/bootstrap";

//blue #03A9F4
