
$primary: #03A9F4;

$link-decoration: none;
$link-hover-decoration: underline;

$body-bg: #343a40;
$body-color: #dee2e6;
$border-color: #6c757d;

$card-color: #dee2e6;
$card-bg: #212529;
$card-border-color: #6c757d;

$figure-caption-color: #dee2e6;

.navbar-brand {
  font-family: 'Monoton', cursive;
  font-size: 30px !important; 
  color: #03A9F4 !important;
}

.navbar-brand:hover, #navProfile:hover{
  color: rgba(3,169,244, .75) !important;
}

#navProfile {
  color: #03A9F4 !important;
}

.label {
  font-weight: 700;
}
@import "../node_modules/bootstrap/scss/bootstrap";
